.gradle/
.idea/
build/
dist/
node_modules/

# Build from the LiteMol project
webapp/src/main/webapp/javascripts/LiteMol-plugin.js
webapp/src/main/webapp/javascripts/LiteMol-PrankWeb.js
webapp/src/main/webapp/css/PrankWeb.css
webapp/src/main/webapp/css/LiteMol-plugin.css