# Set the default behavior for all files.
* text auto

# Set on checkout.
*.csv text eol=crlf
*.bat text eol=crlf
*.properties text eol=crlf

# Binary files.
*.jpg binary
*.png binary
*.jar binary

*.eot binary
*.ttf binary
*.woff2 binary
