<div align="center">
  <img src="./assets/images/logo-elixir.png">
  <br/>
  <p>
    PrankWeb is a part of services provided by ELIXIR – European research
    infrastructure for biological information. <br>
    See 
    <a href="https://www.elixir-czech.cz/services" target="_blank">
      services
    </a> 
    provided
    <a href="https://www.elixir-czech.cz/" target="_blank">
      ELIXIR's Czech Republic Node
    </a>.
  </p>
  <div>
    <a href="./terms">Terms of use</a>
    |
    <a href="./privacy">Privacy</a>
  </div>
  <p class="text-center">
    <small>
      <span class="glyphicon glyphicon-copyright-mark"></span>
      PrankWeb, Charles University 2017-2020
    </small>
  </p>
</div>
