<nav role="navigation" class="navbar navbar-default" id="main-navbar">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand text-capitalize">PrankWeb</a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="./about">About</a>
        </li>
        <li>
          <a href="./help">Help</a>
        </li>
        <li>
          <a
            href="https://github.com/cusbg/prankweb/issues/new/choose"
            target="_blank"
          >
            Report issue
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>