<!DOCTYPE html>
<html lang="ne">
<head>
    <%= require('html-loader!./partial/google-tag-manager.html') %>
    <%= require('html-loader!./partial/head.html') %>
    <!-- Used by Protael. -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <!--  -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Local -->
    <link rel="stylesheet" href="./assets/css/LiteMol-plugin.css"/>
    <link rel="stylesheet" href="./assets/css/prank-web.css">
    <link rel="stylesheet" href="./assets/css/protael.css"/>
    <link rel="stylesheet" href="./assets/css/visualizations.css"/>
</head>
<body class="bg-light">
<%= require('html-loader!./partial/navigation.html') %>
<noscript>
    <strong>You need to enable JavaScript to run this app.</strong>
</noscript>
<div id="analyze" class="hide-content">
    <div id="sequence-view" class="sequence-view"></div>
    <div id="app" class="app col-xs-12 col-md-10">
    </div>
    <div class="pocket-list col-xs-12 col-md-2">
        <div id="pocket-list"></div>
        <%= require('html-loader?attributes=false!./partial/footer.html') %>
    </div>
</div>
<div id="progress" class="jumbotron hide-content"
     style="text-align: center;">
    <div id="requestFailed">
        <p class="text-center" id="requestFailedText">
        </p>
    </div>
    <div id="running">
        <i style="font-size:48px; color: aqua;" class="fa fa-spinner fa-spin"></i>
        <br/>
        <p class="text-center">Please wait, running analysis...</p>
    </div>
    <div id="failed" class="hide-content">
        <p class="text-center">
            Execution failed, please see the log bellow for more details.
            <br/>
            If you have any questions, please feel to create a github
            <a href="https://github.com/siret/p2rank-web/issues">issue</a>.
        </p>
    </div>
    <div id="stdout" class="row" style="margin: 0;">
        <code id="progress-text"
              class="col-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2"
              style="text-align: left">
        </code>
    </div>
    <%= require('html-loader?attributes=false!./partial/footer.html') %>
</div>
</body>
</html>
